
  services:
    backend:
      image: nvidia/cuda:12.4.1-devel-ubuntu22.04
      container_name: pycuda-backend
      working_dir: /app
      volumes:
        - .:/app
      ports:
        - "5000:5000"
      command: >
        bash -c "
        apt-get -qq update &&
        apt-get -qq install -y python3 python3-pip python3-dev build-essential &&
        pip3 install --no-cache-dir pycuda flask flask_cors numpy pillow werkzeug &&
        python3 app_production.py
        "
      gpus: all

    frontend:
      image: node:20
      container_name: angular-front
      working_dir: /usr/src/app
      volumes:
        - ./front:/usr/src/app
      command: >
        sh -c "
        npm install &&
        npm run start -- --host 0.0.0.0 --port 4200
        "
      ports:
        - "4200:4200"
      depends_on:
        - backend
